<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Boleta de garantia</a>
  <a href="#" class="list-group-item list-group-item-action">Vale vista</a>
  <a href="#" class="list-group-item list-group-item-action">Letra de cambio</a>
  <a href="#" class="list-group-item list-group-item-action">Certificado de prorroga</a>
  <a href="#" class="list-group-item list-group-item-action">Certificado de fianza</a>
  <a href="#" class="list-group-item list-group-item-action">Poliza de garantia</a>
  <a href="#" class="list-group-item list-group-item-action">Pagare</a>
</div>
